.big-heading {
  text-align: center;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 1.5rem;
  background-color: black;
}
  
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 180px;
}
  
.nav-item {
  padding: 0 18px;
}
  
.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-light";
}

.colored-section {
  background-image: linear-gradient(black, rgb(69, 69, 143));
  color: #fff;
}

/* Containers */

.home-container {
  padding-bottom: 10px !important;
}

.container-fluid {
  padding: 7% 15%;
}

/* buttons */

.play-game-btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 15px 30px 15px 30px;
  border: solid #000000 2px;
  text-decoration: none;
}

.play-game-btn:hover {
  background: #000000;
  color: #fff;
}

.card-body {
  margin-bottom: 10px;
}

/* Title Image */

.title-image {
  padding-left: 8rem;
  height: 500px;
  width: 500px;
}

/* game-zone Section */

#game-zone {
  padding: 100px;
}
  
.game-zone-text {
  font-size: 3rem;
  line-height: 1.5;
}
  
.game-zone-column {
  padding: 2%;
}

.section-heading {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 2rem;
    font-weight: bolder;
}

.find-twin-section {
    background-color: rgb(66, 66, 117);
}

.find-btn {
    padding-top: 2rem;
    padding-left: 45%;
}

.find-twin-btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 15px 30px 15px 30px;
  border: solid #000000 2px;
  text-decoration: none;
}

.find-twin-btn:hover {
  background: #ffffff;
  color: black;
}

.find-twin-image {
    padding-right: 15rem;
    width: 150%;
}

.find-twin-text {
    color: white;
    margin-top: 10rem;
    margin-left: 25%;
}

/* Footer Section */

.footer {
    text-align: center;
    padding: 50px 0 20px;
    background-color: black;
}

.copyright {
    color: #212529;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    color: #212529;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #798188;
}
